In [26]:
import pandas as pd
import duckdb

In [27]:
df = pd.read_csv('lego.csv')
df.head()

,Unnamed: 0,Name,Theme,Minifigs,Subtheme,Desc,Prices,Pieces,Year
0,0,700-12,System,NaN,Basic Set,700-12: Automatic Binding Bricks,NaN,NaN,1949
1,1,700_1_1-1,System,NaN,Supplemental,700_1_1-1: Individual 2 x 4 Bricks,NaN,NaN,1950
2,2,700_1_2-1,System,NaN,Supplemental,700_1_2-1: Individual 2 x 2 Bricks,NaN,NaN,1950
3,3,700_A-1,System,NaN,Basic Set,700_A-1: Automatic Binding Bricks Small Brick ...,NaN,NaN,1950
4,4,700_B_1-1,System,NaN,Supplemental,700_B_1-1: Individual 1 x 4 x 2 Window (withou...,NaN,NaN,1950

In [28]:
df['Theme'].unique()

array(['System', 'Promotional', 'Dacta', 'Samsonite', 'Trains', 'Books',
       'Universal Building Set', 'Legoland', 'Duplo', 'Minitalia',
       'LEGOLAND', 'Homemaker', 'Gear', 'Basic',
       'Building Set with People', 'PreSchool', 'Hobby Set', 'Technic',
       'Service Packs', 'Town', 'Castle', 'Space', 'Fabuland', 'Scala',
       'Boats', 'Model Team', 'Assorted', 'Pirates', 'Belville',
       'Creator', 'Freestyle', 'Primo', 'Aquazone', 'Time Cruisers',
       'Western', 'Classic', 'Adventurers', 'Znap', 'Racers',
       'Mindstorms', 'Education', 'Seasonal', 'Rock Raiders', 'Star Wars',
       'Studios', 'Baby', 'Action Wheelers', 'Sports', 'Bulk Bricks',
       'Creator Expert', 'Mickey Mouse', 'Bionicle', 'Jack Stone',
       'Harry Potter', 'Dinosaurs', 'Alpha Team', 'Explore', 'Spybotics',
       'Galidor', 'Miscellaneous', 'Island Xtreme Stunts', 'Clikits',
       'World City', '4 Juniors', 'Spider-Man', 'Discovery', 'Quatro',
       'Make and Create', 'City', 'Factory', 'Vikings', 'Dino 2010',
       'Dino Attack', 'Batman', 'SpongeBob SquarePants',
       'Avatar The Last Airbender', 'Exo-Force', 'Bricks and More',
       'Aqua Raiders', 'Serious Play', 'Indiana Jones', 'Power Functions',
       'Agents', 'Architecture', 'Games', 'Power Miners', 'HERO Factory',
       'Prince of Persia', 'Toy Story', 'Atlantis', 'Ben 10: Alien Force',
       'Collectable Minifigures', 'World Racers', 'Ideas', 'Ninjago',
       'Pirates of the Caribbean', "Pharaoh's Quest", 'Cars',
       'Master Builder Academy', 'Life of George',
       'DC Comics Super Heroes', 'Friends', 'Marvel Super Heroes', 'Dino',
       'Monster Fighters', 'The Lord of the Rings', 'The Hobbit',
       'Teenage Mutant Ninja Turtles', 'Legends of Chima', 'Minecraft',
       'The Lone Ranger', 'Juniors', 'Fusion', 'Disney', 'The LEGO Movie',
       'Mixels', 'Ultra Agents', 'The Simpsons', 'Elves',
       'Jurassic World', 'Dimensions', 'Speed Champions', 'Scooby-Doo',
       'Nexo Knights', 'BrickHeadz', 'The Angry Birds Movie',
       'Ghostbusters', 'DC Super Hero Girls', 'Boost',
       'The LEGO Ninjago Movie', 'The LEGO Batman Movie', 'Unikitty',
       'Xtra', 'The Powerpuff Girls', 'Overwatch', 'Powered Up',
       'The Lego Movie 2: The Second Part', 'LEGO Originals',
       'Hidden Side', 'Stranger Things', 'FORMA', 'Monkie Kid',
       'Super Mario', 'Trolls World Tour', 'Dots', 'Mosaics',
       'Brick Sketches', 'Minions: The Rise of Gru'], dtype=object)

In [29]:
df[df['Theme'] == 'Star Wars']

,Unnamed: 0,Name,Theme,Minifigs,Subtheme,Desc,Prices,Pieces,Year
4438,4438,7101-1,Star Wars,2.0,Episode I,7101-1: Lightsaber Duel,$6.00,52.0,1999
4439,4439,7110-1,Star Wars,2.0,Episode IV,7110-1: Landspeeder,$6.00,49.0,1999
4440,4440,7111-1,Star Wars,NaN,Episode I,7111-1: Droid Fighter,$6.00,62.0,1999
4441,4441,7121-1,Star Wars,4.0,Episode I,7121-1: Naboo Swamp,$10.00,82.0,1999
4442,4442,7128-1,Star Wars,3.0,Episode VI,7128-1: Speeder Bikes,$10.00,93.0,1999
...,...,...,...,...,...,...,...,...,...
16634,16634,912056-1,Star Wars,NaN,Magazine Gift,912056-1: TIE Striker,NaN,28.0,2020
16635,16635,912057-1,Star Wars,2.0,Magazine Gift,912057-1: R2-D2 and MSE-6,NaN,13.0,2020
16636,16636,912058-1,Star Wars,NaN,Magazine Gift,912058-1: Sith Infiltrator,NaN,34.0,2020
16637,16637,912059-1,Star Wars,1.0,Magazine Gift,912059-1: Elite Praetorian Guard,NaN,7.0,2020
16638,16638,912060-1,Star Wars,NaN,Magazine Gift,912060-1: A-wing,NaN,44.0,2020

I wanted to filter out and only get the sets that are based on the dollar

In [30]:
df = df[df['Prices'].str.contains('€') == False]

Get rid of the  $ and | which won't allow us to convert the string to a float

In [31]:
df['Prices'] = df['Prices'].str.replace('\$','')
df['Prices'] = df['Prices'].str.replace('\|','')
 
df['Prices'] = df['Prices'].astype(float)

/var/folders/kf/8556syz14vn70lw4383jfz_c0000gn/T/ipykernel_28202/1905844088.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Prices'] = df['Prices'].str.replace('\$','')
/var/folders/kf/8556syz14vn70lw4383jfz_c0000gn/T/ipykernel_28202/1905844088.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Prices'] = df['Prices'].str.replace('\|','')

In [32]:
df['Price_Per_Piece'] = df['Prices'] / df['Pieces']

In [33]:
df.head()

,Unnamed: 0,Name,Theme,Minifigs,Subtheme,Desc,Prices,Pieces,Year,Price_Per_Piece
179,179,215-3,Samsonite,NaN,Supplemental,215-3: 2 X 8 Bricks,0.5,9.0,1961,0.055556
181,181,217-3,Samsonite,NaN,Supplemental,217-3: 4 x 4 Corner Bricks,0.5,10.0,1961,0.050000
182,182,218-3,Samsonite,NaN,Supplemental,218-3: 2 x 4 Bricks,0.5,20.0,1961,0.025000
183,183,219-2,Samsonite,NaN,Supplemental,219-2: 2 X 3 Bricks,0.5,24.0,1961,0.020833
184,184,220-2,Samsonite,NaN,Supplemental,220-2: 2 X 2 Bricks,0.5,33.0,1961,0.015152

in future use this code to write a loop through all years and plot

In [34]:
df[df['Year']== 2008]['Theme'].nunique()

23

In [35]:
sort_p = df.sort_values(by = 'Prices' ,ascending= False)
sort_p = sort_p[:50]
sort_p['Theme'].value_counts()

Star Wars           9
Education           8
Technic             7
Creator Expert      6
Mindstorms          6
Gear                5
Dacta               2
Trains              2
Architecture        1
Studios             1
Monster Fighters    1
City                1
Space               1
Name: Theme, dtype: int64

In [36]:
df.sort_values(by = 'Price_Per_Piece', ascending= False)

,Unnamed: 0,Name,Theme,Minifigs,Subtheme,Desc,Prices,Pieces,Year,Price_Per_Piece
3754,3754,8299-1,Technic,1.0,NaN,8299-1: Search Sub,50.00,0.0,1997,inf
8552,8552,10287-1,Mindstorms,NaN,NXT,10287-1: Intelligent NXT Brick (Black),169.99,1.0,2009,169.99
4480,4480,9709-1,Mindstorms,NaN,1.0,9709-1: RCX Programmable LEGO Brick,110.00,1.0,1999,110.00
4869,4869,9917-1,Education,NaN,Mindstorms,9917-1: DCP Sensor Connector Cable,59.00,1.0,2000,59.00
9601,9601,10286-1,Mindstorms,NaN,NXT,10286-1: Colour Sensor,54.99,1.0,2011,54.99
...,...,...,...,...,...,...,...,...,...,...
16683,16683,5005893-1,Gear,NaN,Housewares,5005893-1: White Black and Gray Wall Hanger Set,9.99,NaN,2020,NaN
16684,16684,5005894-1,Gear,NaN,Housewares,5005894-1: Pink Light Blue and White Wall Hang...,9.99,NaN,2020,NaN
16685,16685,5005963-1,Gear,NaN,Stationery,5005963-1: 12 Pack Marker Set,19.99,NaN,2020,NaN
16690,16690,5006035-1,Gear,NaN,Miscellaneous,5006035-1: Holiday Bag Tag Stormtrooper,5.99,NaN,2020,NaN
16691,16691,5006057-1,Gear,NaN,Stationery,5006057-1: Locking Notebook with Gel Pen,19.99,NaN,2020,NaN